@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;

  .wrapper {
    display: flex;
    justify-content: space-around;
  }
}



@keyframes drop {
  0% {
    opacity: 0;
    top: 35px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}