.button {
  display: block;
  max-width: 120px;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 500;
  background: none;
  border: 2px solid #f3a712;
  color: #f3a712;
  cursor: pointer;
}

.secondary {
  @extend .button;

  width: 120px;
  background-color: #f3a712;
  color: white;
  font-weight: 700;
  font-size: 0.8em;
  box-shadow: 0 5px 20px -5px rgba(#818181, 0.9);
}
