.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;

    h2 {
        color: blue;
    }

    input {
        width: 400px;
        padding: 15px;
        font-size: 12px;
        background: none;
        border: none;
        border-bottom: 3px solid blue;
        margin: 20px;
        font-size: 16px;
    }

    textarea {
        height: 300px;
        width: 450px;
        background: none;
        border: none;
        border-bottom: 3px solid blue;
        font-size: 16px;
    }



    button:hover {
        cursor: pointer;
    }
}