@keyframes appear {
  0% {
    opacity: 0;
    top: 35px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.wrapper {
  list-style: none;
  padding: 0 30px 60px 0;
  display: flex;
  position: relative;
  animation: appear 0.5s ease;
  flex-direction: column;

  p {
    color: white;
  }
}
